.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.full-height {
  height: 100%;
}

.bg {
  background-image: url("./Images/background.png");
  height: 100%; 
  
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

div .onmouse:hover{
  background-color: rgb(177, 175, 175);
}



.Delhi{
  /*background-image: url("./Images/Delhi.png");*/
  height: 80%;
  position: fixed;
  content:url("./Images/Delhi.png");
 left: 50%;
 
}
.Chennai{
  height: 80%;
 position: fixed;
 content:url("./Images/chennai.png");
 left: 50%;
}
.Mumbai{
  height: 80%;
 position: fixed;
 content:url("./Images/Mumbai.png");
 left: 50%;
}
.Royal{
  height: 80%;
  width:40%;
 position: fixed;
 content:url("./Images/Royal.png");
 left: 55%;
}
.Rajasthan{
  height: 80%;
 position: fixed;
 content:url("./Images/Rajasthan.png");
 left: 50%;
}
.Punjab{
  height: 80%;
  width:40%;
 position: fixed;
 content:url("./Images/Punjab.png");
 left: 55%;
}
.Kolkata{
  height: 80%;
 position: fixed;
 content:url("./Images/Kolkata.png");
 left: 50%;
}
.Sunrises{
  height: 80%;
 position: fixed;
 content:url("./Images/Sunrises.png");
 left: 50%;
}